.notification-counter {   
    position: relative;
    top: -10px;
    left: 12px;

    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 8px;
    padding: 1px 5px;
    font: 20px Verdana;
    text-align:center;
    font-size: 250px;
}

.notification {   
    position: absolute;
    top: -10px;
    left: 12px;

    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 8px;
    padding: 1px 5px;
}