<!-- home.html -->
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Smart Door System</title>

    <!-- Bootstrap -->
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>

  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Smart Door System</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/home">Home</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

    <div class="container">

      <div class="row">
        <hr>
      </div>

      <div class="row">
        <h1>RPi Smart Door System</h1>
        <p class="lead">Project by Rongguang Wang, Yuan He</p>
        <hr>
      </div>

      <div class="row">
        <h1>Welcome to Smart Door System!</h1>
      </div>

      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      <!-- messages -->
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>

  </body>
</html>